:root{
    --ColorPrimario: #96858f;
    --ColorSecundario: #6d7993;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'verdana';
    /*background: var(--ColorPrimario);*/
}

header{
    background: #ffffff;
    height: 650px;
    position: relative;
    overflow: hidden;
}

header .contenedor{
    display: flex;
    width: 90%;
    margin: auto;
    height: 650px;
    align-items: center;
    justify-content: space-between;
}

.contenedor-header-textos{
    width: 40%;
    color: var(--ColorSecundario);
}

.contenedor-header-textos h1{
    font-size: 60px;
}

.contenedor-header-textos h2{
    margin-bottom: 20px;
}

header img{
    width: 550px;
    z-index: 10;
    position: relative;
}

header .contenedor-header-textos a{
    display: inline-block;
    padding: 10px 0;
    width: 150px;
    text-decoration: none;
    border: 1px solid var(--ColorPrimario);
    text-align: center;
    border-radius: 3px;
    background: var(--ColorPrimario);
    color: #ffffff;
}

.absolute{
    background: var(--ColorPrimario);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:800px){
    header .contenedor{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contenedor-header-textos{
        width: 100%;
        text-align: center;
        
    }

    header img{
        width: 450px;
    }
}

@media screen and (max-width:450px){
    header .contenedor{
        width: 95%;
    }

    .contenedor-header-textos h1{
    font-size: 35px;
        
    }

    .contenedor-header-textos h2{
        font-size: 20px;
    }

    header img{
        width: 300px;
    }
}

@media screen and (max-width:200px){
    header img{
        width: 180px;
    }
}